/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/*
    Created on : Jul 23, 2022, 3:56:03 PM
    Author     : Tee Zhuo Xuan
*/
.split-menu-button{
    -fx-background-color: transparent;
    -fx-border-radius: 0;
    -fx-border-width: 1;
    -fx-border-style:  hidden none solid none;
    -fx-border-color: #5a22ba;
}

.split-menu-button .label
{
    -fx-background-color: transparent;
    -fx-text-fill: #5a22ba;
}

.split-menu-button .arrow-button {
    -fx-background-color: transparent;
}


.split-menu-button:hover .arrow-button,
.split-menu-button:focused .arrow-button
{
    -fx-background-color: #5a22ba;
    -fx-text-fill: white;
}

.split-menu-button:hover .arrow-button .arrow,
.split-menu-button:focused .arrow-button .arrow
{
    -fx-background-color: white;
}







